@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter", sans-serif;
  src:
    url("/fonts/static/Inter-Regular.ttf") format("ttf"),
    url("/fonts/static/Inter-SemiBold.ttf") format("ttf"),
    url("/fonts/static/Inter-Bold.ttf") format("ttf");
}

body {
  font-size: 14px;
}
