@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karla", sans-serif;
  src:
    url("/fonts/static/Karla-Regular.ttf") format("ttf"),
    url("/fonts/static/Karla-Bold.ttf") format("ttf");
}

::selection {
  background-color: hsl(148, 38%, 91%);
}
