:root {
  /* font-family */
  --ff-primary: 'Josefin Sans', sans-serif;

  /* font-sizes */
  --fs-body: clamp(1rem, 1rem + 0vw, 1rem);
  --step-1: clamp(1.2rem, 1.19rem + 0.07vw, 1.25rem);
  --step-2: clamp(1.44rem, 1.41rem + 0.18vw, 1.56rem);
  --step-3: clamp(1.73rem, 1.66rem + 0.32vw, 1.95rem);
  --step-4: clamp(2.07rem, 1.97rem + 0.53vw, 2.44rem);
  --step-5: clamp(2.49rem, 2.33rem + 0.81vw, 3.05rem);
  --fs-heading: clamp(2.99rem, 2.75rem + 1.18vw, 3.82rem);
  --step-7: clamp(3.58rem, 3.24rem + 1.69vw, 4.77rem);
  --step-8: clamp(4.3rem, 3.83rem + 2.37vw, 5.96rem);
  --step-9: clamp(5.16rem, 4.51rem + 3.27vw, 7.45rem);
  --step-10: clamp(6.19rem, 5.3rem + 4.46vw, 9.31rem);

  /* font-weights */
  --fw-semibold: 600;
  --fw-normal: 400;
  --fw-thin: 300;

  /* colors */
  --clr-primary-600: hsl(0 93% 68%);
  --clr-primary-400: hsl(0 36% 70%);
  --clr-neutral-700: hsl(0, 6%, 24%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.flow :where(:not(:last-child)) {
  margin-bottom: 2rem;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-heading {
  font-size: var(--fs-heading);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-normal {
  font-weight: var(--fw-normal);
}

.fw-thin {
  font-weight: var(--fw-thin);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-neutral-700 {
  color: var(--clr-neutral-700);
}

.uppercase {
  text-transform: uppercase;
}

/* general */
body {
  display: grid;
  place-items: center;
}

/* main */
main {
  padding-top: 6em;
  width: min(64rem, 100%);
  margin-inline: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.text-box {
  padding: 2em 1em;
  text-align: center;
}

.logo {
  height: 1.5rem;
  position: absolute;
  top: 48px;
  left: 8%;
  transform: translateY(-50%);
}

.text-box > h1 {
  margin-bottom: 2rem;
  letter-spacing: 10px;
  line-height: 1;
}

.text-box > p {
  margin-bottom: 2rem;
}

form > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.8em 2em;
  border: 1px solid var(--clr-primary-400);
  border-radius: 1000vw;
  overflow: hidden;
}

input {
  border: none;
  background: transparent;
  color: var(--clr-primary-400);
}

button {
  padding: 1em 2em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-top-left-radius: 1000vw;
  border-bottom-left-radius: 1000vw;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  cursor: pointer;
}

.image-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-desktop {
  display: none;
}

/* 1440px */
@media (min-width: 90em) {
  body {
    background: url('./images/bg-pattern-desktop.svg'),
      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    flex-direction: row;
    gap: 4rem;
    padding-top: 0;
    background: transparent;
  }

  main > * {
    width: 100%;
  }

  .text-box {
    text-align: left;
  }

  .logo {
    position: static;
    margin-bottom: 6rem;
  }

  .hero-mobile {
    display: none;
  }

  .hero-desktop {
    display: block;
  }
}
